.timeHBox{
    -fx-spacing: 3;
    -fx-alignment: CENTER;
}
.workTimeItemActive{
    -fx-background-color: #dff6ea;
    -fx-border-color: #1f7a55;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}
.workTimeItemSwitching{
    -fx-background-color: #fff4cc;
    -fx-border-color: #a66a00;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}
